@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Color Palette */
/* ex) background-color: var(--white) */
:root {
    /*Cerulean Blue*/
    --blue: #3A51B7;
    /*Burnt Sienna*/
    --sienna: #EE6C4D;
    /*Middle red*/
    --red: #F38D68;
    /*Persian Green*/
    --green: #17A398;
    /*Jet*/
    --jet: #33312E;
}

/* Header component */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 78px;
    background: linear-gradient(to bottom, rgba(16, 23, 34, 1) 0%, rgba(16, 23, 34, 0) 100%);
    color: white;
    z-index: 100;
    padding: 0 90px;
    transition: height 0.1s ease-in;
}

nav span {
    position: relative;
    top: 2px;
    color: white;
    text-decoration: none;
    font-family: 'Graphik Light', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 49px;
}

.logo {
    position: fixed;
    width: 90px;
    top: 23px;
    left: 40px;
}

.logo-horizontal {
    display: none;
}

.login-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.3px;
    height: 21px;
    /* width: 28px; */
    /* border-radius: 10%; */
    padding: 0 7.5px;
    border-radius: 2px;
    background-color: var(--green);
    color: #20424c;
    cursor: pointer;
}

.login-icon-container .bi-lock-fill {
    font-size: 13.7px;
}

.login-icon-container .bi-caret-down-fill {
    position: relative;
    top: 1px;
    font-size: 10px;
    margin-left: 3px;
}

.active {
    position: relative;
    top: 3px;
    /* font-family: 'Graphik Regular', sans-serif; */
    color: #F38D68;
    border-bottom: 1px solid #F38D68;
    padding-bottom: 3px;
}

.scrolled-down {
    height: 50px;
    background: linear-gradient(to bottom, rgba(16, 23, 34, 0) 0%, rgba(16, 23, 34, 0) 100%);
    background-color: rgb(21, 27, 51);
    /* background-color: rgb(16, 23, 34); */
    /* background-color: #33312E; */
    justify-content: space-between;
    transition: height 0.15s ease-in;
}

.scrolled-down .logo {
    display: none;
}

.scrolled-down .logo-horizontal {
    position: relative;
    top: 1px;
    display: block;
}

.scrolled-down .logo-horizontal span:first-child {
    font-family: 'Graphik Black', sans-serif;
    margin-right: 5px;
}

.scrolled-down .logo-horizontal span:last-child {
    font-family: 'Graphik Light', sans-serif;
    letter-spacing: 1.2px;
    font-size: 15.1px;
}

.scrolled-down .active {
    /* color: #ababab;
    border-bottom: 1px solid #ababab; */
    padding-bottom: 1.5px;
    top: 3.5px;
}

/* Home component */
.home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("/src/img/shahbaz-khan-gd3Qa4i6USo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 50;
    color: white;
    padding-left: 16%;
}

.gradient-fs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgb(16, 23, 34) 0%, #233171 50%, #17A398 100%);
    opacity: 0.3;

}

.home-text-container {
    position: relative;
    /* top: 47px; */
    top: 40px;
    max-width: 600px;
}

.home-container h1 {
    /* font-family: 'Graphik Bold', sans-serif;
    font-size: 70px; */
    font-family: 'Graphik Semibold', sans-serif;
    font-size: 84px;
    margin-bottom: 11px;
}

.home-container h3 {
    font-weight: 600;
}

.test {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--sienna);
    /* height: 40px;
    width: 40px; */
    z-index: 70;
    color: white;
}

/* About component */
.about-container {
    position: relative;
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-title {
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
    color: var(--green);
    font-size: 5.5rem;
    font-weight: 700;
}

.about-desc {
    text-align: left;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 100px;
    color: var(--jet);
    display: flex;
    font-size: 1.5rem;
}

/* TheTeam component */
.teamContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background-color: #f9fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.headingContainer {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    /* border-left: 2px solid #EE6C4D; */
    flex-direction: column;
}

.headingTeam {
    margin-top: 50px;
    width: 100%;
    font-size: 4.5rem;
    /* color: #EE6C4D; */
    /* color: #EE6C4D; */
    /* color: #17A398; */
}

.dreamteam {
    /* color: #17A398; */
    color: #EE6C4D;
}

.arrow {
    width: 75%;
    transform: scaleX(-1) rotate(40deg);
}

.teamMemberContainer {
    /* min-height: 440px; */
    /* width: 100%; */
    /* padding: 0 100px; */
    width: 60%;
    display: flex;
    gap: 50px 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    /* border-right: 2px solid #EE6C4D; */
    /* margin: 50px 10px; */
    /* overflow: hidden; */
}

.teamMember {
    /* min-height: 440px; */
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0px 0px 10px #c7c7c7; */
    border-radius: 3px;
    padding: 30px 0;
    /* border-bottom: 2px solid #EE6C4D; */
    /* background-color: white; */
    /* border-left: 2px solid #17A398; */
}

.teamMember h3 {
    font-size: 20px;
    /* color: #17A398; */
    /* color: #EE6C4D; */
}

.teamImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* box-shadow: 5px 5px 5px rgb(181, 181, 181); */
}

.separator {
    border-bottom: 2px solid #17A398;
    width: 25%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border-top: 2px solid #17A398; */
    /* width: 25%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px; */

}

.skills {
    /* color: #EE6C4D; */
    /* color: #17A398; */
    font-weight: bold;
}

.socialIconsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #17A398;
}

.aboutTeamMember {
    margin: 0 30px;
    margin-bottom: 5px;
    text-align: center;
}



/* Contact component */
.contact-container {
    background-image: url("/src/img/contact2.jpg");
    background-size: cover;
    position: relative;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 20px 0;
}

.inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    margin: auto;
}

.contact-container h1 {
    color: grey;
    text-align: center;
    font-size: 3rem;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-top: 35px;
    margin-bottom: 250px;
}

.adress {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    justify-self: center;
    padding-left: 100px;
    color: var(--red);
    font-size: 30px;
}

.contactForm {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    justify-self: center;
    padding-right: 100px;
}

.contactForm input,
.contactForm textarea,
.contactForm button {
    display: block;
    margin-bottom: 10px;
    padding: 12px;
    font-family: 'Graphik Regular', sans-serif;
    font-size: 15px;
}

input[type=email] {
    width: 280px;
}

.contactForm button {
    width: 80px;
}

/* input[type=text]:focus,
input[type=email]:focus {
    border: 3px solid #555;
  } */
/* Login/Register component */

.login-container h2 {
    position: relative;
    font-family: 'Graphik Medium', sans-serif;
    margin-bottom: 60px;
    color: var(--jet);
    font-size: 29px;
}

.dark-fs {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 150;
}

.fs {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 170;
}

.login-container {
    position: relative;
    background-color: white;
    width: 380px;
    padding: 60px 65px;
    z-index: 200;
}

.input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-bottom: 30px;
    padding-bottom: 6px;
}

.input-container .bi {
    font-size: 18px;
    color: rgb(164, 164, 164);
}

.input-container hr {
    height: 18px;
    border: 0;
    border-left: 1px solid rgb(191, 191, 191);
    margin-right: 15px;
    margin-left: 10px;
}

.login-container input {
    width: 100%;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* border-bottom: 1px solid rgb(181, 181, 181); */
    /* align-self: flex-end; */
    /* padding: 5px 5px; */
}

.login-container input:focus {
    outline: none;
    border: none;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.login-container h5 {
    color: rgb(177, 177, 177);
    margin-top: 17px;
    font-weight: 500;
    font-size: 14px;

}

.strong {
    /* color: #15808c; */
    /* color: var(--green); */
    color: #16988d;
    cursor: pointer;
}

.login-container h2 p {
    position: absolute;
    top: 46px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.error {
    font-weight: 700;
    color: rgb(230, 0, 0);
}

.success {
    color: rgb(91, 210, 0);
}

/* Footer component */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 120px;
    background-color: black;
    color: white;
    z-index: 100;
}

.Footer-title {
    color: #004884;
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.Footer-text {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
}

.Footer-p {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}

.Footer-icons {
    color: #004884;
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .inner-container {
        grid-column: auto;
        grid-template-rows: repeat(3, 1fr);
        width: 100vh;
    }

    .contact-container h1 {
        grid-row: 1/2;
        grid-column: 1 / 2;
        margin: 0;
        padding: 0;
    }

    .adress {
        grid-row: 2 /3;
        grid-column: 1 / 2;
        font-size: 20px;
        height: auto;
        padding: 0;
    }

    .contactForm {
        grid-row: 3 /4;
        grid-column: 1 / 2;
        padding: 0;
    }
}

/* Media screens for team component */
/* @media screen and (min-width: 1700px) {
    .headingContainer {
        width: 50%;
        padding-right: 100px;
    }

    .teamMemberContainer {
        width: 50%;
    }

    .arrow {
        width: 60%;
    }
}

@media screen and (max-width: 1110px) {
    .teamMemberContainer {
        gap: 30px 0px;
    }

    .teamMember {
        width: 45%;
    }

    .headingTeam {
        width: 90%;
        font-size: 4.0rem;
    }
} */